button {
	all: initial;
	font-family: inherit;
	background-color: $primary;
	padding: .5rem 1rem;
	color: $light;
	box-shadow: .1rem 0 .5rem rgba($dark, 50%);
	cursor: pointer;
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: darken($primary, 10%);
	}

	& + & {
		margin-left: 1rem;
	}
}

canvas {
	width: 100% !important;
	height: 100% !important;
	display: block;
}
